@import 'tailwindcss';
@import url('@fontsource/pretendard/variable.css');

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/* @plugin '@tailwindcss/aspect-ratio'; */
@plugin '@tailwindcss/container-queries';

@theme {
	--font-sans: 'Pretendard Variable', 'Pretendard', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--breakpoint-xs: 475px;
	--breakpoint-3xl: 1920px;
}

@layer base {
	html,
	body,
	body > div {
		height: 100%;
	}
}
